{%extends "layout.html"%}
{%block content%}

<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" href="{{url_for('home')}}"
    ><img class="logo" src="../static/images/logo.png"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggler"
    aria-controls="navbarToggler"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a href="{{url_for('home')}}" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="{{url_for('aboutUs')}}" class="nav-link">About Us</a>
      </li>
    </ul>
  </div>
</nav>
<section>
  <div class="container-fluid">
    <div class="row">
      <h1 class="mainHeading">
        <span style="color: #e16428">Career Path Recommendation</span><br />
        <span style="color: #272121">using Machine Learning</span>
      </h1>
    </div>
  </div>
</section>
   <div class="container">
      <div class=" row">
        <div class="col-3"></div>   
       <div class="col-6">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form method="post" action="">
      {{form.hidden_tag()}}
        <fieldset class="form-group">
           <legend class="border-bottom mb-4 recc text-center">Login form</legend>
        <div class="form-group">
            {{form.email.label(class="form-control-label form-headings")}}
            {% if  form.email.errors%}
            {{form.email(class="form-control from-control-lg is-invalid", placeholder="Enter your Email")}}
            <div class="invalid-feedback">
                {% for e in form.email.errors%}
                    <span>{{e}}</span> 
                {% endfor %}
            </div>             
            {%else%}
            {{form.email(class="form-control from-control-lg", placeholder="Enter your Email")}}
            {% endif %} 
        </div>    
        
        <div class="form-group">
            {{form.password.label(class="form-control-label form-headings")}}
            {% if  form.password.errors%}
            {{form.password(class="form-control from-control-lg is-invalid", placeholder="Password")}}
            <div class="invalid-feedback">
                {% for e in form.password.errors%}
                    <span>{{e}}</span>
                    
                {% endfor %}
            </div>             
            {%else%}
            {{form.password(class="form-control from-control-lg", placeholder="Password")}}
            {% endif %} 
        </div>
        
    </fieldset>
        <div class="form-group">
                <div class="text-center">
            {{form.submit(class="modal-button submit-wrapper")}}
            </div>
        </div>

     </form>
     <div class="border-top pt-3">
        <small class="text-muted">
            <a href="#" class="ml-2">Forget Password?</a>
        </small>
        
         <small class="text-muted">
             Need An Account? <a class="ml-2" href="{{url_for('register')}}">Sign Up</a>
            </small>
          <br/>
     </div>
     <div class="pt-3">
      <small class="text-muted">
        Login as Recruiter <a class="ml-2" href="{{url_for('rlogin')}}">Sign In</a>
      </small>
     </div>
    </div>
    <div class="col-3"></div>
    </div>
   </div>
   {%endblock content%}