{% extends "layout.html" %} {%block content%}

<nav class="navbar navbar-expand-md navbar-light" style="overflow-x: hidden;">
    <a class="navbar-brand" href="{{url_for('home')}}"><img class="logo" src="../static/images/logo.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a href="{{url_for('home')}}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('getStarted')}}" class="nav-link">Get Started</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('getToKnow')}}" class="nav-link">Get To Know</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('aboutUs')}}" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('logout')}}" class="nav-link modal-button"
                    style="color: #fff; padding: 1rem">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<section class="output-section">
    <div class="container-fluid">
        <div class="row">
            <h1 class="mainHeading">
                <span style="color: #e16428">Career Path Recommendation</span><br />
                <span style="color: #272121">using Machine Learning</span>
            </h1>
        </div>
    </div>

    <div class="row">
        <h3 class="form-text">

        </h3>
    </div>
    </div>

    <br />
    <div class="container">
        <div class="row" id="reccomendationBody">
            <br />
        </div>
        <div class="row">
            <div class="col-lg-12 output-button-wrapper">
                <a href="{{url_for('home')}}"><button class="modal-button">Go to Home Page</button></a>
            </div>
        </div>
    </div>
</section>

<script>
    const name = localStorage.getItem('name');
    var formText = document.getElementsByClassName('form-text')[0];
    formText.innerHTML = `Hey <b>${name}<b>!!!
        <br />
        <br /> &nbsp;  Top
            <span class="recc">Recommendation</span>
            that are best suited for you:`
</script>

<script type="text/javascript">
    dictTech = localStorage.getItem("dataTech");
    dictTech = dictTech.slice(1, dictTech.length - 1);
    tempdictTList = dictTech.split(",");
    dictTList = []
    if (tempdictTList.length >= 2) {
        for (var i = 0; i < tempdictTList.length; i++) {
            temp = (tempdictTList[i].split(":"))
            dictTList.push(temp[0]);
            dictTList.push(temp[1]);
        }
    } else {
        dictTList = tempdictTList[0].split(":")
    }
    console.log(dictTList);
    dictionaryTech = {};

    for (var i = 0; i < dictTList.length; i = i + 2) {
        dictionaryTech[dictTList[i]] = dictTList[i + 1];
    }

    dictPer = localStorage.getItem("dataPer");
    dictPer = dictPer.slice(1, dictPer.length - 1);
    tempdictPList = dictPer.split(",");
    dictPList = []
    if (tempdictPList.length >= 2) {
        for (var i = 0; i < tempdictPList.length; i++) {
            temp = (tempdictPList[i].split(":"))
            dictPList.push(temp[0]);
            dictPList.push(temp[1]);
        }
    } else {
        dictPList = tempdictPList[0].split(":")
    }
    console.log(dictPList);
    dictionaryPer = {};

    for (var i = 0; i < dictPList.length; i = i + 2) {
        dictionaryPer[dictPList[i]] = dictPList[i + 1];
    }
    if (dictPer.length == 0 || dictTech.length == 0) {
        const reccBody = document.getElementById("reccomendationBody");
        reccBody.innerHTML = `
            <div>
                <h1>No Reccommendations found </h1>
                <h3>This can be due to the following reasons </h3>
                <ul style="padding-left: 50px">
                    <li>There wer no skills or internships selected.</li>
                    <li>There were no relevant skills selected.</li>
                    <li>The skills selected were not enough or sufficient for a technology</li>
                </ul>
            </div>
        `
    }

    else {
        const reccBody = document.getElementById("reccomendationBody");
        var count = 0;
        images = ["https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80",
            "https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80",
            "https://images.unsplash.com/photo-1619410283995-43d9134e7656?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80",
            "https://images.unsplash.com/photo-1605379399642-870262d3d051?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1206&q=80",
            "https://images.unsplash.com/photo-1627398242454-45a1465c2479?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80",
            "https://images.unsplash.com/photo-1592609930961-219235eded71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80",
            "https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80",
            "https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1189&q=80",
            "https://images.unsplash.com/photo-1580894742597-87bc8789db3d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80",
            "https://images.unsplash.com/photo-1580894908361-967195033215?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80",
            "https://images.unsplash.com/photo-1503039153293-d4d2ba067754?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80",
            "https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80",
            "https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80",
            "https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80",
            "https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80",
            "https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"]
        for (var i = 0; i < dictTList.length / 2; i++) {
            reccBody.innerHTML += `
            <div class="col-md-12 col-lg-6">
                    <div class="card-body">
                        <div class="card-image-container">
                            <img class="card-img"
                                src=${images[Math.floor(Math.random() * images.length)]}
                                alt="card image">
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h2 class="card-tech">${dictTList[count].slice(1, dictTList[count].length - 1)}</h2>
                                    <h4 class="card-jobrole">${dictTList[count + 1].slice(1, dictTList[count + 1].length - 1).toUpperCase()}</h4>
                                </div>
                                <div class="col-lg-4">
                                    <h1 class="card-percentage">${dictPList[count + 1].slice(0, 5)}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        `
            count = count + 2
        }
    }
</script>
{%endblock content%}